<ion-app>
  <!-- <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="true" *ngFor="let item of menuItems">
            <ion-item [routerLink]="item.url" routerDirection="root" [class.child-item]="item.isChild">
              <ion-icon [name]="item.icon" slot="start"></ion-icon>
              <ion-label>{{ item.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

  </ion-split-pane> -->
      <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
